.modal.modal-dark {
/*	background: rgba(38, 43, 53, .8);
	color: #fff*/
}
.modal.modal-dark .close {
/*	opacity: .8;
	filter: alpha(opacity=80);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	background-color: #FF0045;*/
}
.modal.modal-dark .modal-content {
/*	background: rgba(18, 19, 30, .7)*/
}
.modal.modal-dark input, .modal.modal-dark textarea {
/*	color: #fff*/
}
.modal.modal-dark .loading {
/*	background: rgba(0, 0, 0, .4);*/
}


/* **************************************************** */


.page-root.dark .heading-tabs a {
/*	color: #fff*/
}
.page-root.dark .nav > li > a:focus, .page-root.dark .nav > li > a:hover {
/*	background: rgba(38, 42, 53, .5)*/
}


/* **************************************************** */


.card-dark, .player--card, .profile--long-description-container {
/*	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15), inset 0 1px 0 0 #363B49;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15), inset 0 1px 0 0 #363B49;
	background: rgba(255, 255, 255, .02);
	color: #D7DDE8;*/
}


/* **************************************************** */


.dropdown-menu.dropdown--dark, .post--container .dropdown-menu {
/*	background-image: linear-gradient(-180deg, #2D3340 5%, #2B303C 100%);
	border: 2px solid #262B37;
	box-shadow: 0 0 10px 0 #262B37, inset 0 1px 0 0 rgba(215, 221, 232, .1)*/
}
.dropdown-menu.dropdown--dark a, .post--container .dropdown-menu a {
/*	color: #7C889D*/
}
.dropdown-menu.dropdown--dark a:hover, .post--container .dropdown-menu a:hover {
/*	color: #fff;
	background: rgba(0, 193, 201, .25)*/
}
.dropdown-menu.dropdown--dark .divider, .post--container .dropdown-menu .divider {
/*	background-color: #262B37*/
}


/* **************************************************** */


#page-feed.theme--dark .stream-entity .game-name {
/*	color: #919baf;
	border-bottom-color: #3A3D47*/
}
#page-feed.theme--dark .new-post.card .loading {
/*	background-color: #3A3D47*/
}
#page-feed.theme--dark .new-post.card .writer-container {
/*	border-bottom-color: #3A3D47*/
}
#page-feed.theme--dark .feed-sidebar .online-users .title, #page-feed.theme--dark .feed-sidebar .profile .username, #page-feed.theme--dark .feed-sidebar .suggestion .title {
/*	color: #919baf*/
}
#page-feed.theme--dark .feed-sidebar .online-users li, #page-feed.theme--dark .feed-sidebar .stats, #page-feed.theme--dark .feed-sidebar .suggestion li {
/*	border-top-color: #3A3D47*/
}
#page-feed.theme--dark .feed-sidebar .stats button:first-child {
/*	border-right: 1px solid #3A3D47*/
}
#page-feed.theme--dark .feed-sidebar .stats button strong {
/*	color: #919baf*/
}
#page-feed.theme--dark .heading-tabs a, #page-feed.theme--dark .post--info-username, #page-feed.theme--dark .username, #page-feed.theme--dark textarea {
/*	color: #919baf*/
}
#page-feed.theme--dark .card, #page-feed.theme--dark .filter-bar, #page-feed.theme--dark textarea {
/*	background: #2E323C*/
}
#page-feed.theme--dark .loading textarea {
/*	color: #5c677e*/
}
#page-feed.theme--dark .heading-tabs li a {
/*	color: #919baf*/
}
#page-feed.theme--dark .heading-tabs li a:hover {
/*	background: rgba(0, 0, 0, .3)*/
}
#page-feed.theme--dark.feed-bg .heading-tabs li a {
/*	color: #fff*/
}