mark {
	background: #ff0;
	color: #000
}

body {
	color: #333;
	background-color: #fff
}

a {
	color: #00C1C9;
}

a:focus, a:hover {
	color: #2a6496;
}

.img-thumbnail {
	background-color: #fff;
	border: 1px solid #ddd;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
	color: #999
}

.mark, mark {
	background-color: #FF3C17;
}

.text-muted {
	color: #999
}

.text-primary {
	color: #00C1C9
}

a.text-primary:hover {
	color: #009096
}

.text-success {
	color: #fff
}

a.text-success:hover {
	color: #e6e6e6
}

.text-info {
	color: #fff
}

a.text-info:hover {
	color: #e6e6e6
}

.text-warning {
	color: #fff
}

a.text-warning:hover {
	color: #e6e6e6
}

.text-danger {
	color: #FF005C
}

a.text-danger:hover {
	color: #cc004a
}

.bg-primary {
	color: #fff;
	background-color: #00C1C9
}

a.bg-primary:hover {
	background-color: #009096
}

.bg-success {
	background-color: #00C1C9
}

a.bg-success:hover {
	background-color: #009096
}

.bg-info {
	background-color: #5bc0de
}

a.bg-info:hover {
	background-color: #31b0d5
}

.bg-warning {
	background-color: #FF3C17
}

a.bg-warning:hover {
	background-color: #e32400
}

.bg-danger {
	background-color: #FF005C
}

a.bg-danger:hover {
	background-color: #cc004a
}

.page-header {
	border-bottom: 1px solid #eee
}

abbr[data-original-title], abbr[title] {
	border-bottom: 1px dotted #999
}

blockquote {
	border-left: 5px solid #eee
}

blockquote .small, blockquote footer, blockquote small {
	color: #999
}

.blockquote-reverse, blockquote.pull-right {
	border-right: 5px solid #eee;
}

code {
	color: #00C1C9;
	background-color: rgba(0, 193, 201, .05);
}

kbd {
	color: #fff;
	background-color: #333;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
}

pre {
	color: #00C1C9;
	background-color: rgba(0, 193, 201, .05);
}

.modal.modal-dark {
	background: rgba(38, 43, 53, .8);
	color: #fff
}
.modal.modal-dark .close {
	opacity: .8;
	filter: alpha(opacity=80);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	background-color: #FF0045;
}
.modal.modal-dark .modal-content {
	background: rgba(18, 19, 30, .7)
}
.modal.modal-dark input, .modal.modal-dark textarea {
	color: #fff
}
.modal.modal-dark .loading {
	background: rgba(0, 0, 0, .4);
}
.modal.modal-media {
	background: rgba(38, 43, 53, .8)
}
.modal.modal-media .modal-content {
	background: rgba(18, 19, 30, .7)
}
#modal-avatar .avatar-list li.selected, #modal-avatar .avatar-list li:hover {
	background: rgba(17, 187, 198, .2)
}
#modal-cover .cover-list li.selected, #modal-cover .cover-list li:hover, #modal-cover-feed .cover-list li.selected, #modal-cover-feed .cover-list li:hover {
	background: rgba(17, 187, 198, .2)
}
.formatting--guide blockquote {
	border-left: 5px solid rgba(0, 193, 201, .3);
}
#modal-login form .forgot-password, .modal-login form .forgot-password {
	color: #999
}
#modal-login form .forgot-password:hover, .modal-login form .forgot-password:hover {
	color: #fff
}
#modal-login form .actions, .modal-login form .actions {
	margin-top: 10px
}

.mfp-bg {
	background: #0b0b0b;
	opacity: .8
}
.mfp-preloader {
	color: #CCC;
}
.mfp-preloader a {
	color: #CCC
}
.mfp-preloader a:hover {
	color: #FFF
}
.mfp-close {
	opacity: .65;
	color: #FFF;
}
.mfp-close-btn-in .mfp-close {
	color: #333
}
.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
	color: #FFF;
}
.mfp-counter {
	color: #CCC;
}
.mfp-arrow {
	opacity: .65;
}
.mfp-arrow .mfp-b, .mfp-arrow:before {
	opacity: .7
}
.mfp-arrow-left .mfp-b, .mfp-arrow-left:before {
	border-right: 27px solid #FFF
}
.mfp-arrow-right .mfp-b, .mfp-arrow-right:before {
	border-left: 27px solid #FFF
}
.mfp-iframe-scaler iframe {
	box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	background: #000
}
.mfp-figure:after {
	box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	background: #444
}
.mfp-figure small {
	color: #BDBDBD;
}
.mfp-title {
	color: #F3F3F3;
}

#modal-photos-upload .uploadifive-queue-item .progress-bar {
	background-color: #00C1C9
}
#modal-wizard .progress {
	background: #30313b
}
#modal-wizard .progress .progress-bar {
	background-image: -webkit-linear-gradient(left, color-stop(#73d2ac 0), color-stop(#5bc8ca 100%));
	background-image: -o-linear-gradient(left, #73d2ac 0, #5bc8ca 100%);
	background-image: linear-gradient(to right, #73d2ac 0, #5bc8ca 100%);
}
#modal-wizard .steps {
	border: 1px solid rgba(255, 255, 255, .3);
}
#modal-wizard .form-transparent {
	border: 1px solid rgba(255, 255, 255, .3);
	color: #fff
}
#modal-wizard .profile-list input {
	color: #fff
}

.user-list .user a {
	color: #fff
}

.tag--edit-tag, .tag--new-button, .tag--new-button-container {
	background: rgba(215, 221, 232, .03);
}
.tag--edit-edit, .tag--edit-remove {
	background: rgba(215, 221, 232, .03);
}
.tag--edit-tag-input {
	border-bottom: 1px solid #00C1C9;
}
.tag--remove-confirm {
	background: #FF005C
}
.tag--edit-remove-cancel {
	background: #5bc0de
}
.tag--new-button {
	border: 2px dashed #00C1C9;
}
.tag--new-label {
	color: #00C1C9
}

.btn-social {
	color: #fff;
}
.btn-transparent {
	border: 1px solid #fff;
	color: #fff;
}
.btn-transparent:focus, .btn-transparent:hover {
	color: #d9d9d9
}
.nav-tabs li a {
	color: #fff;
	background: #999
}
.nav-tabs li a:hover {
	background: #737373
}

.heading-tabs li a {
	color: #3e4656;
}
.heading-tabs li.active {
	border-bottom: 3px solid #FF005C
}
.heading-tabs li.active.groups {
	border-bottom: 3px solid #B43396
}
.heading-tabs li.active.games {
	border-bottom: 3px solid #00C1C9
}

.page-root.dark .heading-tabs a {
	color: #fff
}
.page-root.dark .nav > li > a:focus, .page-root.dark .nav > li > a:hover {
	background: rgba(38, 42, 53, .5)
}

.tabs-left > .nav-tabs {
	border-right: 1px solid #ddd
}

.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline {
	color: #fff
}
.has-warning .form-control {
	border-color: #FF3C17;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-warning .form-control:focus {
	border-color: #e32400;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff927d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff927d
}
.has-warning .input-group-addon {
	color: #fff;
	border-color: #FF3C17;
	background-color: #FF3C17
}
.has-warning .form-control-feedback {
	color: #fff
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline {
	color: #FF005C
}
.has-error .form-control {
	border-color: #FF005C;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-error .form-control:focus {
	border-color: #cc004a;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff669d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff669d
}
.has-error .input-group-addon {
	color: #FF005C;
	border-color: #FF005C;
	background-color: #FF005C
}
.has-error .form-control-feedback {
	color: #FF005C
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline {
	color: #fff
}
.has-success .form-control {
	border-color: #00C1C9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-success .form-control:focus {
	border-color: #009096;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #30f7ff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #30f7ff
}
.has-success .input-group-addon {
	color: #fff;
	border-color: #00C1C9;
	background-color: #00C1C9
}
.has-success .form-control-feedback {
	color: #fff
}

.empty {
	color: #828b9f;
}

.medias-container .thumbnail .link .title {
	color: #3e4656;
}
.medias-container .thumbnail .link .hover {
	background-color: rgba(75, 184, 232, .7)
}
.medias-container .thumbnail .link:hover .title {
	color: #5e6a82
}
.medias-container .thumbnail .duration {
	background: rgba(0, 0, 0, .4);
	color: #fff;
}

.loading {
	background: rgba(255, 255, 255, .8);
}
.loading.black {
	background: rgba(0, 0, 0, .4)
}
.loading .double-bounce1, .loading .double-bounce2 {
	background-color: #00c1c9;
	opacity: .6;
}
.loading .progress {
	background-color: #00C1C9;
}

.card-dark, .player--card, .profile--long-description-container {
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15), inset 0 1px 0 0 #363B49;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15), inset 0 1px 0 0 #363B49;
	background: rgba(255, 255, 255, .02);
	color: #D7DDE8;
}
.card {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
	background: #fff
}
.card.flat {
	border: 1px solid #D7DDE8
}

.browse-media {
	color: #2d3035;
}
.browse-media .name a {
	color: #3e4656;
}
.browse-media hr {
	border-top: 1px solid #dadada
}
.browse-media .description {
	color: #828b9f
}

.player-card.browse-media .follow-button {
	background: #828b9f;
	color: #31363f
}
.player-card.browse-media .follow-button:hover {
	background: #677187
}
.player-card.browse-media .follow-button.is-followed {
	background: #00C1C9;
	color: #fff
}
.player-card.browse-media .follow-button.is-followed:hover {
	background: #009096
}
.player-card.player-card-full.browse-media .followers .label {
	background: #00C1C9;
	color: #fff
}
.player-card.player-card-simple .username {
	color: #3E4656;
}
.game-card.browse-media .favourite-button, .game-card.browse-media .like-button {
	background: #828b9f;
	color: #31363f
}
.game-card.browse-media .favourite-button:hover, .game-card.browse-media .like-button:hover {
	background: #677187
}
.game-card.browse-media .like-button.is-liked {
	background: #FF005C
}
.game-card.browse-media .like-button.is-liked:hover {
	background: #cc004a
}
.game-card.browse-media .favourite-button.is-favourited {
	background: #FC3
}
.game-card.browse-media .favourite-button.is-favourited:hover {
	background: #ffbf00
}


.twitter-typeahead .tt-hint, .twitter-typeahead .tt-query {
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.twitter-typeahead .tt-hint:focus, .twitter-typeahead .tt-query:focus {
	border-color: #00C1C9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 193, 201, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 193, 201, .6)
}

.has-warning .twitter-typeahead .tt-hint, .has-warning .twitter-typeahead .tt-query {
	border-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-warning .twitter-typeahead .tt-hint:focus, .has-warning .twitter-typeahead .tt-query:focus {
	border-color: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #fff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #fff
}
.has-error .twitter-typeahead .tt-hint, .has-error .twitter-typeahead .tt-query {
	border-color: #FF005C;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-error .twitter-typeahead .tt-hint:focus, .has-error .twitter-typeahead .tt-query:focus {
	border-color: #cc004a;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff669d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff669d
}
.has-success .twitter-typeahead .tt-hint, .has-success .twitter-typeahead .tt-query {
	border-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.has-success .twitter-typeahead .tt-hint:focus, .has-success .twitter-typeahead .tt-query:focus {
	border-color: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #fff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #fff
}

.twitter-typeahead .tt-hint {
	color: #999;
}
.twitter-typeahead .tt-query[disabled], .twitter-typeahead .tt-query[readonly], fieldset[disabled] .twitter-typeahead .tt-query {
	background-color: #eee !important
}

.tt-dropdown-menu {
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.tt-dropdown-menu .tt-suggestion {
	color: #333;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor {
	background-color: #428bca;
	color: #fff
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a {
	color: #fff
}

.share-page a.facebook {
	background: #3B5998
}
.share-page a.twitter {
	background: #4098FE
}
.share-page a.gplus {
	background: #D34836
}

.slick-loading .slick-list {
	background: #fff url(/assets/img/loading.gif) center center no-repeat
}
.slick-dots li a:before {
	color: #000;
	opacity: .25;
}
.slick-dots li.slick-active a:before {
	opacity: .75
}

.mentions {
	background-image: linear-gradient(-179deg, #2D3340 5%, #2B303C 100%);
	border: 2px solid #262B37;
	box-shadow: 0 1px 2px 0 #1C202B, 0 0 10px 0 #262B37, inset 0 1px 0 0 rgba(215, 221, 232, .1)
}
.mentions ul li a {
	color: #919BAF
}
.mentions ul li a strong {
	color: #D7DDE8
}
.mentions ul li.suggester--active {
	background: rgba(0, 193, 201, .4)
}

.unread-dot-container .unread-dot {
	background-color: #00C1C9;
	color: #00C1C9
}

.messaging--container {
	-webkit-box-shadow: 0 10px 40px 0 #000;
	box-shadow: 0 10px 40px 0 #000;
}
.messaging--container.offline .messaging--header {
	border-bottom: 2px solid #f7f7f9
}
.messaging--container.online .messaging--header {
	border-bottom: 2px solid #6F6
}
.messaging--container .messaging--title a {
	color: #3e4656
}
.messaging--container.minimized {
	border: 1px solid #ececec
}
.messaging--header {
	background: #f7f7f9;
	color: #7c818b;
}
.messaging--messages .text blockquote {
	border-left: 4px solid #00C1C9
}
.messaging--messages .sent .text {
	background: rgba(91, 192, 222, .2)
}
.messaging--messages .unconfirmed .text {
	color: #d5d5d5
}
.messaging--input {
	border-top: 1px solid #e1e1e1;
	background: #fff;
}

.profiles-edit-body .nav-tabs li.active a:hover {
	border-right: 1px solid #ddd;
}
.profiles-edit-body .nav-tabs li a {
	border-right: 1px solid #ddd;
}
.profiles-edit-body .has-error .input-group-addon {
	color: #fff
}

.users-popovers a {
	color: #fff
}
.users-popovers .bottom, .users-popovers .middle {
	border-top: 1px solid rgba(255, 255, 255, .4)
}
.users-popovers .avatar.is-online {
	-webkit-box-shadow: 0 0 20px 1px rgba(102, 255, 102, .7);
	box-shadow: 0 0 20px 1px rgba(102, 255, 102, .7)
}
.users-popovers .description, .users-popovers .username {
	color: #fff;
}

.dropdown-menu.dropdown--dark, .post--container .dropdown-menu {
	background-image: linear-gradient(-180deg, #2D3340 5%, #2B303C 100%);
	border: 2px solid #262B37;
	box-shadow: 0 0 10px 0 #262B37, inset 0 1px 0 0 rgba(215, 221, 232, .1)
}
.dropdown-menu.dropdown--dark a, .post--container .dropdown-menu a {
	color: #7C889D
}
.dropdown-menu.dropdown--dark a:hover, .post--container .dropdown-menu a:hover {
	color: #fff;
	background: rgba(0, 193, 201, .25)
}
.dropdown-menu.dropdown--dark .divider, .post--container .dropdown-menu .divider {
	background-color: #262B37
}

.is-dragging {
	background: #525b62
}
.drop-area {
	background: rgba(38, 43, 55, .87);
	box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, .22), inset 0 0 0 0 #4A5363
}
.drop-area__item {
	background: rgba(0, 193, 201, .15);
}
.drop-area__item.highlight {
	background: #00C1C9
}

.drop-area__name {
	color: #fff
}

#wrap {
	background: #f8f8f8
}

.top-bar--container {
	color: #fff;
	background: #262A35
}
.top-bar--container.blend {
	background: rgba(38, 42, 53, .8)
}
.top-bar--container.full {
	background: #262A35
}
.top-bar--item > a, .top-bar--item > a:focus, .top-bar--item > a:hover, .top-bar--item > a:visited {
	color: #fff;
}
.top-bar--item > a:hover {
	background: #3B4253
}

.navbar--search-input {
	background: rgba(255, 255, 255, .1);
	color: #fff;
}
.top-bar--register > a {
	background: #23d1a2
}
.top-bar--register > a:focus, .top-bar--register > a:hover {
	background: #1ca580
}
.top-bar--login > a {
	border: 1px solid #31363f;
	color: #23d1a2
}
.top-bar--login .login--label {
	color: #23d1a2;
}
.top-bar--login .dropdown-menu {
	background: rgba(38, 43, 53, .95);
	color: #fff
}

.notifications--container {
	background-image: linear-gradient(-180deg, #2D3340 5%, #2B303C 100%);
	border: 2px solid #262B37;
	box-shadow: 0 0 10px 0 #262B37, inset 0 1px 0 0 rgba(215, 221, 232, .1)
}
.notifications--toolbar {
	background: #2B303B;
	box-shadow: 0 1px 4px 0 rgba(27, 31, 40, .31), inset 0 -1px 0 0 #20232C, inset 0 1px 0 0 rgba(72, 85, 123, .34);
}

.toolbar--button {
	color: #60869F;
}
.toolbar--button:hover {
	color: #60869F;
}

.notification--item a {
	color: #7C889D;
}
.notification--item:hover {
	background: rgba(0, 193, 201, .25)
}
.notification--unread {
	background: rgba(91, 192, 222, .25)
}
.notification--senders {
	color: #D7DDE8
}
.notification-image img {
	border: 4px solid #252A36
}

#footer {
	background: #35373f;
	color: #fff;
}
#footer-links-main {
	border-bottom: 1px solid #4a4b53;
}
#footer-links-main li a {
	color: #9194a1;
}
#footer-links-main li a:hover {
	color: #adafb8;
}
#footer-links-secondary li a {
	color: #6d717e
}
#footer-links-secondary li a:hover {
	color: #878b97;
}
.footer--primary-links {
	border-bottom: 1px solid #4a4b53
}
.footer--primary-links a {
	color: #9194a1;
}
.footer--primary-links a:hover {
	color: #adafb8
}
.footer--secondary-links a {
	color: #6d717e
}
.footer--secondary-links a:hover {
	color: #878b97
}
.footer--copyright-container {
	background: #2c2e35;
	color: #6d717e
}
#page-home-v3 .form-container {
	background: #f7f7f7
}

.inline-input {
	border: 1px solid #cfcfcf;
	background: #fff;
	color: #8D929C
}

#home--call-to-action {
	background: url(../img/bg.jpg) #c644fc repeat-x;
}
#home--call-to-action h1 {
	color: #fff;
}
#home--preview {
	color: #fff
}
#home--preview .accept-terms-container label {
	color: #5d6472;
}
#home--preview .separator {
	background: rgba(255, 255, 255, .3)
}
#home--preview .nav > li a {
	border: 1px solid rgba(255, 255, 255, .3);
	color: #fff
}
#home--preview .nav > li a:hover {
	border: 1px solid #00C1C9;
	background: #00C1C9
}
#home--preview .nav > li.active a {
	border: 1px solid #00C1C9
}
#home--featured-players {
	color: #fff
}
#home--testimonials {
	background: #fff
}
#home--testimonials .testimonial {
	background: #f7f7f7;
	color: #8d929c;
}
#home--press-release {
	background: #f7f7f7
}

#error404 .jumbotron {
	color: #fff
}

#page-about hr {
	border: 1px solid #fff
}

#page-about .first {
	color: #fff
}
#page-about .first .btn {
	border: 2px solid #fff
}
#page-about .second hr {
	border: 1px solid #dfdfdf
}
#page-about .third {
	color: #fff
}
#page-about .fourth hr {
	border: 1px solid #dfdfdf
}
#page-about .fourth .teammate .card:hover {
	background-color: #23d1a2;
	color: #fff
}
#page-about .fourth .name {
	border-bottom: 1px solid #cbd1d6;
}
#page-about .fifth {
	background-color: #23d1a2;
	color: #fff;
}
#page-about .fifth hr {
	border: 1px solid rgba(255, 255, 255, .3)
}
#page-about .fifth .apply {
	border: 1px solid rgba(255, 255, 255, .3);
}
#page-about .sixth {
	background-color: #5bc0de;
	color: #fff;
}
#page-about .sixth a {
	color: #fff
}
#page-about .sixth hr {
	border: 1px solid rgba(255, 255, 255, .3)
}
#page-contact {
	background: #f8f8f8
}
#page-contact .jumbotron {
	color: #fff
}
#page-contact .jumbotron hr {
	border: 1px solid #fff
}
#page-contact .contact-form hr {
	border: 1px solid #dfdfdf
}
#page-feed .username {
	color: #3e4656
}
#page-feed .heading-tabs .count {
	color: #00C1C9
}
#page-feed .new-post.card .writer-container {
	border-bottom: 1px solid #e1e1e1
}
#page-feed .filter-bar .filter-label {
	color: #919baf
}
#page-feed .feed-sidebar .online-users .title, #page-feed .feed-sidebar .profile .username, #page-feed .feed-sidebar .suggestion .title, .feed-sidebar .online-users #page-feed .title, .feed-sidebar .profile #page-feed .username, .feed-sidebar .suggestion #page-feed .title {
	color: #3e4656;
}
#page-feed .stream-entity .game-name {
	border-bottom: 1px solid #F4F4F6;
}
#page-feed .stream-entity .info .viewers {
	color: #919BAF
}

.feed-sidebar .stats {
	border-top: 1px solid #e1e1e1
}
.feed-sidebar .stats > button:first-child {
	border-right: 1px solid #e1e1e1
}
.feed-sidebar .btn-stats strong {
	color: #3e4656;
}
.feed-sidebar .btn-stats span {
	color: #919baf
}
.feed-sidebar .online-users li, .feed-sidebar .suggestion li {
	border-top: 1px solid #e1e1e1;
}

.new-post .writer.mirror, .new-post .writer.real {
	color: #555
}

.delete-mask-container {
	background: rgba(255, 255, 255, .9);
}

.post--container {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
	background: #2E323C;
}
.post--container.post--source-playerme {
	border-left: 3px solid #00C1C9
}
.post--container.post--source-youtube {
	border-left: 3px solid #CD332D
}
.post--container.post--source-twitch {
	border-left: 3px solid #6441A5
}
.post--info-username {
	color: #919baf
}
.post--source-label {
	color: #919baf
}
.post--show-more-content {
	background: #3D404A;
	color: #919baf;
}
.post--show-more-content:hover {
	color: #828ea4
}
.post--content-wrapper {
	background: #363943
}
.post--content-container {
	color: #919baf;
}
.post--content {
	color: #919baf
}
.post--video-container {
	color: #919baf
}

.spoiler--container {
	background-color: rgba(0, 193, 201, .1);
}

.comment--content blockquote, .post--content blockquote {
	border-left: 4px solid rgba(0, 193, 201, .3);
}
.comment--container {
	border-top: 1px solid #363943
}
.comment--container-highlight {
	background: rgba(91, 192, 222, .2)
}
.comments--show-all-container {
	background: #363943;
}
.comment--content {
	color: #919baf
}
.comment--writer-container {
	border-top: 1px solid #363943
}
.comment--writer-container.loading textarea {
	color: #5c677e
}
.comment--writer.mirror, .comment--writer.real {
	border-bottom: 1px solid #3A3D47;
	background: #2E323C;
	color: #919baf
}
.comment--editor-help {
	color: #919baf
}
.comment--editor-writer textarea {
	background: #3D404A
}

.post--meta {
	background-color: #3D404A
}
.post--meta-description {
	color: #a0a8ba
}

.timeago--entity {
	color: #919baf;
}

.action--count {
	color: #919baf
}

#page-feed.theme--dark .stream-entity .game-name {
	color: #919baf;
	border-bottom-color: #3A3D47
}
#page-feed.theme--dark .new-post.card .loading {
	background-color: #3A3D47
}
#page-feed.theme--dark .new-post.card .writer-container {
	border-bottom-color: #3A3D47
}
#page-feed.theme--dark .feed-sidebar .online-users .title, #page-feed.theme--dark .feed-sidebar .profile .username, #page-feed.theme--dark .feed-sidebar .suggestion .title {
	color: #919baf
}
#page-feed.theme--dark .feed-sidebar .online-users li, #page-feed.theme--dark .feed-sidebar .stats, #page-feed.theme--dark .feed-sidebar .suggestion li {
	border-top-color: #3A3D47
}
#page-feed.theme--dark .feed-sidebar .stats button:first-child {
	border-right: 1px solid #3A3D47
}
#page-feed.theme--dark .feed-sidebar .stats button strong {
	color: #919baf
}
#page-feed.theme--dark .heading-tabs a, #page-feed.theme--dark .post--info-username, #page-feed.theme--dark .username, #page-feed.theme--dark textarea {
	color: #919baf
}
#page-feed.theme--dark .card, #page-feed.theme--dark .filter-bar, #page-feed.theme--dark textarea {
	background: #2E323C
}
#page-feed.theme--dark .loading textarea {
	color: #5c677e
}
#page-feed.theme--dark .heading-tabs li a {
	color: #919baf
}
#page-feed.theme--dark .heading-tabs li a:hover {
	background: rgba(0, 0, 0, .3)
}
#page-feed.theme--dark.feed-bg .heading-tabs li a {
	color: #fff
}

.browse--card {
	color: #D7DDE8
}
.browse--card-container {
	box-shadow: 0 1px 4px 0 rgba(17, 18, 21, .8);
}
.browse--card-title {
	color: #D7DDE8
}
.browse--card-user-entity {
	background: #2B303B;
}

.toolbar--options-trigger {
	color: #919BAF;
}
.toolbar--search-container {
	background: rgba(255, 255, 255, .1);
}
.toolbar--search-input {
	color: #FFF
}
.toolbar--filter label {
	border: 1px solid #919BAF;
	color: #919BAF;
}
.toolbar--filter input:checked + label {
	border: 1px solid #00C1C9;
	color: #00C1C9
}

.browse--footer-missing p {
	color: #919BAF
}
.profile--header-title {
	color: #fff;
}
.profile--header-avatar-image-online {
	box-shadow: 0 0 0 8px rgba(102, 255, 102, .3)
}
.profile--header-image {
	-webkit-box-shadow: inset 0 2px 0 0 rgba(215, 221, 232, .08);
	box-shadow: inset 0 2px 0 0 rgba(215, 221, 232, .08);
}
.profile--header-status {
	color: #A7B0C3
}
.profile--container {
	-webkit-box-shadow: inset 0 2px 0 0 rgba(215, 221, 232, .08);
	box-shadow: inset 0 2px 0 0 rgba(215, 221, 232, .08);
}

.tabbed--container {
	border-bottom: 3px solid rgba(255, 255, 255, .06);
}
.tabbed--unit {
	color: #D7DDE8;
}
.tabbed--unit:hover {
	color: #00C1C9
}
.tabbed--unit.tabbed--unit-active .tabbed--unit-label {
	color: #00C1C9
}
.tabbed--unit.tabbed--unit-active::after {
	border-bottom: 3px solid #00C1C9;
}

.profile--section-title {
	color: #D7DDE8;
}
.profile--section-count-container {
	border: 1px solid #919BAF;
	color: #919BAF;
}
.profile--section-count-container:hover {
	border-color: #00C1C9;
	color: #00C1C9
}
.profile--section-add-button {
	border: 1px solid #919BAF;
}
.profile--section-add-button:hover {
	border-color: #00C1C9
}
.profile--game-link, .profile--media-unit-link {
	background-image: -o-linear-gradient(82deg, rgba(54, 59, 73, .73) 20%, rgba(54, 59, 73, .54) 99%);
	background-image: -moz-linear-gradient(82deg, rgba(54, 59, 73, .73) 20%, rgba(54, 59, 73, .54) 99%);
	background-image: -ms-linear-gradient(82deg, rgba(54, 59, 73, .73) 20%, rgba(54, 59, 73, .54) 99%);
	background-image: linear-gradient(-8deg, rgba(54, 59, 73, .73) 20%, rgba(54, 59, 73, .54) 99%);
	border: 1px solid rgba(255, 255, 255, .02);
	-webkit-box-shadow: 0 1px 4px 0 rgba(17, 18, 21, .8);
	box-shadow: 0 1px 4px 0 rgba(17, 18, 21, .8);
}
.profile--media-unit-author, .profile--media-unit-duration, .profile--media-unit-title {
	color: #D7DDE8;
}
.profile--media-unit-overlay {
	background-image: -o-linear-gradient(82deg, rgba(54, 59, 73, .73) 20%, rgba(54, 59, 73, .54) 99%);
	background-image: -moz-linear-gradient(82deg, rgba(54, 59, 73, .73) 20%, rgba(54, 59, 73, .54) 99%);
	background-image: -ms-linear-gradient(82deg, rgba(54, 59, 73, .73) 20%, rgba(54, 59, 73, .54) 99%);
	background-image: linear-gradient(-8deg, rgba(54, 59, 73, .73) 20%, rgba(54, 59, 73, .54) 99%)
}
.profile--media-unit-author {
	color: #00C1C9
}
.profile--media-caret button {
	color: #D7DDE8
}

.overlay--image-gallery .mfp-author, .overlay--image-gallery .mfp-description {
	color: #fff;
}

.followers--preview-count-container {
	color: #fff;
}
.followers--preview-count-button {
	color: #fff;
}
.followers--preview-count-button:focus, .followers--preview-count-button:hover {
	color: #fff
}
.followers--preview-separator {
	background: rgba(255, 255, 255, .5);
}

.profile--description-content, .profile--section-units-container-empty {
	color: #D7DDE8;
}

.mode--delete .delete--is-selected .profile--media-unit-overlay {
	background-image: linear-gradient(-8deg, rgba(255, 0, 92, .73) 20%, rgba(255, 0, 92, .54) 99%)
}

.player--card-avatar {
	border: 4px solid rgba(255, 255, 255, .2)
}
.player--card-username {
	color: #FFF
}
.player--card-username:hover {
	color: #00C1C9
}

.group--cancel:hover, .group--deny:hover {
	border-color: #FF005C
}
.group--leave:hover {
	border-color: #FF005C
}

.player--card-caret button {
	color: #D7DDE8
}

.game--header {
	color: #fff
}
.game--header-title {
	color: #fff;
}
.game--header-companies-label {
	color: #A7B0C3
}
.game--header-companies-value {
	color: #fff
}

.events--card {
	background: rgba(255, 255, 255, .02);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15), inset 0 1px 0 0 #363B49;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15), inset 0 1px 0 0 #363B49;
	color: #fff
}
.events--card-date {
	color: #D7DDE8;
}
.events--card-remaining-separator, .events--card-remaining-value {
	color: #FFF;
}
.events--card-remaining-label {
	color: #60869F;
}
.events--card-esl {
	background: #fff
}
.events--card-esl .events--card-title {
	color: #3E4656
}
.events--card-esl .events--card-date {
	color: #919BAF
}
.events--card-esl .events--card-remaining-separator, .events--card-esl .events--card-remaining-value {
	color: #3E4656
}
.events--card-esl .events--card-remaining-label {
	color: #919BAF
}

.game--header-platform {
	color: #A7B0C3;
}
.game--tag:focus {
	color: #fff !important;
}
.game--tag.is-tagged {
	color: #00C1C9 !important;
}
.game--tag.is-tagged:focus, .game--tag.is-tagged:hover {
	color: #fff !important;
}

.feature--container {
	color: #fff;
}
.features--new input, .features--new textarea {
	color: #fff
}
.feature--overlay {
	background: rgba(0, 193, 201, .25);
}